<!DOCTYPE html>
<html lang="en">
<!-- !HEAD -->
<%- include('../partials/proizvodi_head_tag.ejs')  %>

<body>
<!-- ! pre-HEADER -->
<section class="pre-header">
    <div class="logo">
        <a href="/"><img src="/IMG/logo/Ikona_GameTech_ikona.png" alt="LOGO"></a>
    </div>

    <div id="basket">
        <% if(kosarica.length<2) {%>
           <a href="/kosarica"><img src="/IMG/logo/kolica-prazna.png" alt="KOŠARICA"></a>
        <% }else{ %>
          <a class="kosarica-stvar" href="/kosarica"><img src="/IMG/logo/kolica-prazna.png"  alt="KOŠARICA"></a>
        <%}%>
    </div>  
</section>
    <!-- ! NAVIGACIJA -->
    <%- include('../partials/navigacija.ejs')  %>
    <!-- ! HEADER - Carousel -->
    <header>

    </header>

    <!-- !CONTENT  -->
    <section class="all-content vidi-vise-content">
        <section class="slideshowContainer-vidiVise">
            <!-- Container for the image gallery -->


            <!-- Full-width images with number text -->
            <div class="slides-vidiVise">
                <div class="numbertext">1 / 4</div>
                <img src="../Stranice_dodaci/Konzole_dodaci/Konzola32/nintendo-switch-lite-console-yellow.jpg">
            </div>

            <div class="slides-vidiVise">
                <div class="numbertext">2 / 4</div>
                <img src="../Stranice_dodaci/Konzole_dodaci/Konzola32/nintendo-switch-lite-console-yellow_2.jpg">
            </div>

            <div class="slides-vidiVise">
                <div class="numbertext">3 / 4</div>
                <img src="../Stranice_dodaci/Konzole_dodaci/Konzola32/nintendo-switch-lite-console-yellow_3.jpg">
            </div>

            <div class="slides-vidiVise">
                <div class="numbertext">4 / 4</div>
                <img src="../Stranice_dodaci/Konzole_dodaci/Konzola32/nintendo-switch-lite-console-yellow_4.jpg">
            </div>

            <!-- Next and previous buttons -->
            <a class="prevV" onclick="plusSlides(-1)">&#10094;</a>
            <a class="nextT" onclick="plusSlides(1)">&#10095;</a>

            <!-- Image text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <!-- Thumbnail images -->
            <div class="row-picture">
                <div class="column-picture">
                    <img class="demo cursor" src="../Stranice_dodaci/Konzole_dodaci/Konzola32/nintendo-switch-lite-console-yellow.jpg" onclick="currentSlide(1)"
                        alt="Nintendo-Yellow slika 1">
                </div>
                <div class="column-picture">
                    <img class="demo cursor" src="../Stranice_dodaci/Konzole_dodaci/Konzola32/nintendo-switch-lite-console-yellow_2.jpg" onclick="currentSlide(2)"
                        alt="Nintendo-Yellow slika 2">
                </div>
                <div class="column-picture">
                    <img class="demo cursor"
                        src="../Stranice_dodaci/Konzole_dodaci/Konzola32/nintendo-switch-lite-console-yellow_3.jpg"
                        onclick="currentSlide(3)" alt="Nintendo-Yellow slika 3">
                </div>
                <div class="column-picture">
                    <img class="demo cursor" src="../Stranice_dodaci/Konzole_dodaci/Konzola32/nintendo-switch-lite-console-yellow_4.jpg" onclick="currentSlide(4)"
                        alt="Nintendo-Yellow slika 4">
                </div>
               
            </div>

        </section>
        <section class="karakteristike">
            <div>
                <h1><%= data.nazivArtikla %></h1>
                <ul>
                    <li>5.5 inch LCD</li>
                    <li>Rezolucija: 1280x720 resolution</li>
                    <li>CPU: NVIDIA Custom Tegra processor</li>
                    <li>Lithium ion 3570mAh</li>
                    <li>Težina: 276 g</li>
                    <li>Pohrana: 32 GB</li>
                    <li>Wi-Fi (IEEE 802.11 a/b/g/n/a</li>
                    <li>Bluetooth 4.1 / NFC (near field communication)</li>
                    <li>USB Type-C (samo za punjenje)</li>
                    <li>3.5mm stereo (CTIA standard)</li>

                </ul>
            </div>

            <!-- 2 -->
            <div>
                <p>na stanju: <span><%= data.stanje%></span> komada</p>


                <div class="cijena-pojedinačna">

                    <p> <% if(data.akcija_akcija_ID!== null){%>

                        <span class='cijena-akcija cijena-proizvoda' name='cijena'>
                            <%= data.akcijskaCijena.toFixed(2) %>
                        </span>
                        <span class='stara-cijena' name='cijena'>
                            <%= data.cijena %>
                        </span>
                    </p>
                    <%}else {%>
                    <p>
                        <span class='cijena-proizvoda' name='cijena'>
                            <%= data.cijena %>
                        </span>
                        <%}%>
                        </p>
                            
                </div>
            </div>
            <!-- 3 -->
            <div>
               
                <!-- ! FORMA STARTA -->
                <%if(data.stanje>0)  {%>
                <form action="/konzole/32" method="POST">
                <input name="id" type="hidden" value="<%= data.artikl_ID%>">
                    <button type="submit" class="addBasket uKosaru">u košaricu</button>
                </form>
                <%} else{%>
                    <button type="submit" class="addBasket uKosaru stanje-nula">u košaricu</button>
                <%} %>

                <a href="../konzole" class='pogledaj-ostalo'>
                    <p>pogledaj ostale konzole</p>
                </a> 

        </div>
        </section>
    </section>

   
    <!-- ! FOOTER -->
    <%- include('../partials/footer.ejs')%>
</body>

</html>