<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GT-Konzole</title>

    <link rel="shortcut icon" href="/IMG/logo/GT_favicon.ico">
    <link rel="stylesheet" href="/FrontEnd_stilovi/common.css">
    <link rel="stylesheet" href="/FrontEnd_stilovi/common_proizvodi.css">
    <link rel="stylesheet" href="FrontEnd_stilovi/akcija.css">

    <script src="/FrontEnd_funkcionalnosti/common.js" defer></script>
    <script src="/FrontEnd_funkcionalnosti/Filtriranje.js" defer></script>
    
    
    <!-- gsap -->
    <script src="Animacije_gsap/commonAnimacija.js" defer></script>
    <script src="Animacije_gsap/povratnaStrelicaAnimacija.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/CSSRulePlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"></script>
</head>

<body>
 <!-- ! pre-HEADER -->
 <section class="pre-header">
    <div class="logo">
        <a href="/"><img src="/IMG/logo/Ikona_GameTech_ikona.png" alt="LOGO"></a>
    </div>

    <div id="basket">
        <% if(kosarica.length<2) {%>
        <a href="/kosarica"><img src="/IMG/logo/kolica-prazna.png" alt="KOŠARICA"></a>
        <% }else{ %>
        <a class="kosarica-stvar" href="/kosarica"><img src="/IMG/logo/kolica-prazna.png"  alt="KOŠARICA"></a>
        <%}%>
    </div>  
</section>
<!-- ! navigacija -->
   
<%- include('../partials/navigacija.ejs') %>

<!-- ! HEADER - Carousel -->
<!-- <header> </header> -->

<!-- !CONTENT  -->
<section class="all-content kontenjer-sekcija-artikala">

    <section class="filter">
        <div class="slidecontainer">

            <input type="range" min="1000" max="5000" value="1" class="slider" id="myRange">
            <p>vrijednost: <span id="range-cijena"></span></p>
        </div>
        <div id="btnContainer">

            <button class="btn active" onclick="prikaziSve()">prikaži sve</button>
            <button class="btn" onclick="prikazi('playstation')">playstation</button>
            <button class="btn" onclick="prikazi('nitendo')">nitendo</button>
            <button class="btn" onclick="prikazi('xbox')">xbox</button>
        </div>

    </section>
    <!-- -------------------------- -->
    <section class="sekcija-proizvoda">
        <section class="proizvodi-grid">

            <div class="product-ns nitendo">
                <div>
                    <% if(dataAll[0].akcija_akcija_ID!== null){%>
                    <div class='akcijski-oznaka'>
                        <p class='akcijski-znak'><%=dataAll[0].postotak%>%</p>
                    </div><%}%>
                        <a href="/konzole/31">
                            <img src="./Stranice_dodaci/Konzole_dodaci/Konzola31/nintendo-switch-mario-red-blue.jpg"
                                alt="nitendo red ">
                        </a>
                </div>
                <h1><%= dataAll[0].nazivArtikla %>"</h1>
                <ul>
                    <li> 6.5" 1280 x 720</li>
                    <li>NVIDIA Custom Tegra processor</li>
                    <li>32GB</li>
                    <li>4310mAh</li>
                    <li>USB Type C</li>
                </ul>
                <div class="cijena">
                    <p> <% if(dataAll[0].akcija_akcija_ID!== null){%>

                        <span class='cijena-akcija cijena-proizvoda' name='cijena'>
                            <%= dataAll[0].akcijskaCijena.toFixed(2) %> kn
                        </span>
                        <span class='stara-cijena' name='cijena'>
                            <%= dataAll[0].cijena %> kn
                        </span>
                    </p>
                    <%}else {%>
                    <p>
                        <span class='cijena-proizvoda' name='cijena'>
                            <%= dataAll[0].cijena %> kn
                        </span>
                        <%}%>
                    </p>
                </div>
                <!-- ! FORMA STARTA -->
                <%if(dataAll[0].stanje>0)  {%>
                <form action="/konzole" method="POST">
                    <input name="id" type="hidden" value="<%= dataAll[0].artikl_ID%>">
                    <button type="submit" class="addBasket uKosaru">u košaricu</button>
                </form>

                <%} else{%>

                <button type="submit" class="uKosaru addBasket stanje-nula">u košaricu</button>
                <%} %>
            </div>
            <!-- ---------- ------------------------------------- -->
            <div class="product-ns nitendo">
                <div>
                    <% if(dataAll[1].akcija_akcija_ID!== null){%>
                    <div class='akcijski-oznaka'>
                        <p class='akcijski-znak'><%=dataAll[1].postotak%>%</p>
                    </div><%}%>
                        <a href="/konzole/32">
                                <img src="./Stranice_dodaci/Konzole_dodaci/Konzola32/nintendo-switch-lite-console-yellow.jpg"
                                    alt="nitendo yellow ">
                            </a>
                </div>
                <h1> <%= dataAll[1].nazivArtikla %> </h1>
                <ul>
                    <li>5.5" Touch Screen</li>
                    <li>1280 x 720</li>
                    <li>NVIDIA Custom Tegra processor</li>
                    <li>32 GB</li>
                    <li>D-pad style control pad</li>
                    <li>USB Type-C</li>
                </ul>
                <div class="cijena">
                    <p> <% if(dataAll[1].akcija_akcija_ID!== null){%>

                        <span class='cijena-akcija cijena-proizvoda' name='cijena'>
                            <%= dataAll[1].akcijskaCijena.toFixed(2) %> kn
                        </span>
                        <span class='stara-cijena' name='cijena'>
                            <%= dataAll[1].cijena %> kn
                        </span>
                    </p>
                    <%}else {%>
                    <p>
                        <span class='cijena-proizvoda' name='cijena'>
                            <%= dataAll[1].cijena %> kn
                        </span>
                        <%}%>
                    </p>
                </div>
                <!-- ! FORMA STARTA -->
                <%if(dataAll[1].stanje>0)  {%>

                <form action="/konzole" method="POST">
                    <input name="id" type="hidden" value="<%= dataAll[1].artikl_ID%>">
                    <button type="submit" class="addBasket uKosaru">u košaricu</button>
                </form>

                <%} else{%>

                <button type="submit" class="addBasket uKosaru stanje-nula">u košaricu</button>
                <%} %>
            </div>
            <!-- ------------------------------------------------- -->
            <div class="product-ns playstation">
                <div>
                    <% if(dataAll[2].akcija_akcija_ID!== null){%>
                    <div class='akcijski-oznaka'>
                        <p class='akcijski-znak'><%=dataAll[2].postotak%>%</p>
                    </div><%}%>
                    <a href="/konzole/33">
                        <img src="./Stranice_dodaci/Konzole_dodaci/Konzola33/playstation-4-500gb.jpg"
                                        alt="Lenovo ThinkBook 15 ">
                     </a>
                </div>

                <h1> <%= dataAll[2].nazivArtikla %> </h1>
                <ul>
                    <li>500GB hard drive</li>
                    <li>AMD Radeon 1.84 TFLOPS</li>
                    <li>WiFi</li>
                    <li>HDR gaming</li>
                    <li>VR kompatiibilno</li>
                </ul>
                <div class="cijena">
                    <p> <% if(dataAll[2].akcija_akcija_ID!== null){%>

                        <span class='cijena-akcija cijena-proizvoda' name='cijena'>
                            <%= dataAll[2].akcijskaCijena.toFixed(2) %> kn
                        </span>
                        <span class='stara-cijena' name='cijena'>
                            <%= dataAll[2].cijena %> kn
                        </span>
                    </p>
                    <%}else {%>
                    <p>
                        <span class='cijena-proizvoda' name='cijena'>
                            <%= dataAll[2].cijena %> kn
                        </span>
                        <%}%>
                    </p>
                </div>
                <!-- ! FORMA STARTA -->
                <%if(dataAll[2].stanje>0)  {%>

                <form action="/konzole" method="POST">
                    <input name="id" type="hidden" value="<%= dataAll[2].artikl_ID%>">
                    <button type="submit" class="addBasket uKosaru">u košaricu</button>
                </form>

                <%} else{%>

                <button type="submit" class="addBasket uKosaru stanje-nula">u košaricu</button>
                <%} %>
            </div>
            <!-- ------------------------------------------------- -->
            <div class="product-ns playstation">
                <div>
                    <% if(dataAll[3].akcija_akcija_ID!== null){%>
                    <div class='akcijski-oznaka'>
                        <p class='akcijski-znak'><%=dataAll[3].postotak%>%</p>
                    </div><%}%>
                     <a href="/konzole/34">
                         <img src="./Stranice_dodaci/Konzole_dodaci/Konzola34/playstation-4-500gb-fifa_2.jpg">
                     </a>
                </div>
                <h1><%= dataAll[3].nazivArtikla %></h1>
                <ul>
                    <li>500GB hard drive</li>
                    <li>AMD Radeon 1.84 TFLOPS</li>
                    <li>WiFi</li>
                    <li>HDR gaming</li>
                    <li>VR kompatiibilno</li>

                </ul>
                <div class="cijena">
                    <p> <% if(dataAll[3].akcija_akcija_ID!== null){%>

                        <span class='cijena-akcija cijena-proizvoda' name='cijena'>
                            <%= dataAll[3].akcijskaCijena.toFixed(2) %>kn
                        </span>
                        <span class='stara-cijena' name='cijena'>
                            <%= dataAll[3].cijena %>kn
                        </span>
                    </p>
                    <%}else {%>
                    <p>
                        <span class='cijena-proizvoda' name='cijena'>
                            <%= dataAll[3].cijena %>kn
                        </span>
                        <%}%>
                    </p>
                </div>
                   
                <!-- ! FORMA STARTA -->
                   
                <%if(dataAll[3].stanje>0)  {%>

                <form action="/konzole" method="POST">
                    <input name="id" type="hidden" value="<%= dataAll[3].artikl_ID%>">
                    <button type="submit" class="addBasket uKosaru">u košaricu</button>
                </form>
                <%} else{%>
                <button type="submit" class="addBasket uKosaru stanje-nula">u košaricu</button>
                <%} %>
            </div>
            <!-- -------------------------------------------- -->

        </section>
    </section>
</section>
<%- include('../partials/povratnaStrelica.ejs')%>
<!-- ! FOOTER -->
<%- include('../partials/footer.ejs')%>
</body>

</html>