<!DOCTYPE html>
<html lang="en">

<!-- !HEAD -->
<%- include('../partials/proizvodi_head_tag.ejs')  %>

<body>
<!-- ! pre-HEADER -->
<section class="pre-header">
    <div class="logo">
        <a href="/"><img src="/IMG/logo/Ikona_GameTech_ikona.png" alt="LOGO"></a>
    </div>

    <div id="basket">
        <% if(kosarica.length<2) {%>
           <a href="/kosarica"><img src="/IMG/logo/kolica-prazna.png" alt="KOŠARICA"></a>
        <% }else{ %>
          <a class="kosarica-stvar" href="/kosarica"><img src="/IMG/logo/kolica-prazna.png"  alt="KOŠARICA"></a>
        <%}%>
    </div>  
</section>
    <!-- ! NAVIGACIJA -->
    <%- include('../partials/navigacija.ejs')  %>

    <!-- ! HEADER - Carousel -->
    <header>

    </header>

    <!-- !CONTENT  -->
    <section class="all-content vidi-vise-content">
        <section class="slideshowContainer-vidiVise">
            <!-- Container for the image gallery -->


            <!-- Full-width images with number text -->
            <div class="slides-vidiVise">
                <div class="numbertext">1 / 3</div>
                <img src="../Stranice_dodaci/Monitori_dodaci/Monitor30/monitor-philips-27.jpg">
            </div>

            <div class="slides-vidiVise">
                <div class="numbertext">2 / 3</div>
                <img src="../Stranice_dodaci/Monitori_dodaci/Monitor30/monitor-philips-27_2.jpg">
            </div>

            <div class="slides-vidiVise">
                <div class="numbertext">3 / 3</div>
                <img src="../Stranice_dodaci/Monitori_dodaci/Monitor30/monitor-philips-27_3.jpg">
            </div>

            <!-- Next and previous buttons -->
            <a class="prevV" onclick="plusSlides(-1)">&#10094;</a>
            <a class="nextT" onclick="plusSlides(1)">&#10095;</a>

            <!-- Image text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <!-- Thumbnail images -->
            <div class="row-picture">
                <div class="column-picture">
                    <img class="demo cursor" src="../Stranice_dodaci/Monitori_dodaci/Monitor30/monitor-philips-27.jpg"
                        onclick="currentSlide(1)" alt="Philips slika 1">
                </div>
                <div class="column-picture">
                    <img class="demo cursor" src="../Stranice_dodaci/Monitori_dodaci/Monitor30/monitor-philips-27_2.jpg"
                        onclick="currentSlide(2)" alt="Philips slika 2">
                </div>
                <div class="column-picture">
                    <img class="demo cursor" src="../Stranice_dodaci/Monitori_dodaci/Monitor30/monitor-philips-27_3.jpg"
                        onclick="currentSlide(3)" alt="Philips slika 3">
                </div>

            </div>

        </section>
        <section class="karakteristike">
            <div>
                <h1><%= data.nazivArtikla %></h1>
                <ul>
                    <li></li>
                    <li>Rezolucija 2560 x 1440</li>
                    <li>Omjer širine i visine: 16:9</li>
                    <li>Kontrast Omjer: 1000:1</li>
                    <li>1 x DisplayPort 1.2, 1 x HDMI 1.4, 1 x USB-C 3.1 Gen 2 (slanje), 3 x USB 3.1 (s brzim
                        punjenjem), Ethernet Lan (10M/100M/1G)
                    </li>
                    <li>Audio izlaz za slušalic </li>
                    <li>LowBlue Mode/ Easy Read</li>

                </ul>
            </div>

            <!-- 2 -->
            <div>
                <p>na stanju: <span><%= data.stanje%></span> komada</p>


                <div class="cijena-pojedinačna">

                    <p> <% if(data.akcija_akcija_ID!== null){%>

                        <span class='cijena-akcija cijena-proizvoda' name='cijena'>
                            <%= data.akcijskaCijena.toFixed(2) %> kn
                        </span>
                        <span class='stara-cijena' name='cijena'>
                            <%= data.cijena %> kn
                        </span>
                    </p>
                    <%}else {%>
                    <p>
                        <span class='cijena-proizvoda' name='cijena'>
                            <%= data.cijena %> kn
                        </span>
                        <%}%>
                        </p>
                            
                </div>
            </div>
            <!-- 3 -->
            <div>
               
                <!-- ! FORMA STARTA -->
                <%if(data.stanje>0)  {%>
                <form action="/monitori/30" method="POST">
                <input name="id" type="hidden" value="<%= data.artikl_ID%>">
                <button type="submit" class="addBasket uKosaru">u košaricu</button>
                </form>
                <%} else{%>
                <button type="submit" class="addBasket uKosaru stanje-nula">u košaricu</button>
                <%} %>

                <a href="../monitori" class='pogledaj-ostalo'>
                    <p>pogledaj ostale monitore</p>
                </a> 
            </div>
    </section>

    </section>
    <!-- ! FOOTER -->
    <%- include('../partials/footer.ejs')%>
</body>

</html>